/*********** Variables ***********/
/* Colors */
$color-list: ('black', 'white', 'gray-100', 'gray-200', 'gray-300', 'gray-400', 'gray-500', 'gray-600', 'gray-700', 'gray-800', 'gray-900', 'red-100', 'red-200', 'red-300', 'red-400', 'red-500', 'red-600', 'red-700', 'red-800', 'red-900', 'orange-100', 'orange-200', 'orange-300', 'orange-400', 'orange-500', 'orange-600', 'orange-700', 'orange-800', 'orange-900', 'yellow-100', 'yellow-200', 'yellow-300', 'yellow-400', 'yellow-500', 'yellow-600', 'yellow-700', 'yellow-800', 'yellow-900', 'green-100', 'green-200', 'green-300', 'green-400', 'green-500', 'green-600', 'green-700', 'green-800', 'green-900', 'teal-100', 'teal-200', 'teal-300', 'teal-400', 'teal-500', 'teal-600', 'teal-700', 'teal-800', 'teal-900', 'blue-100', 'blue-200', 'blue-300', 'blue-400', 'blue-500', 'blue-600', 'blue-700', 'blue-800', 'blue-900', 'indigo-100', 'indigo-200', 'indigo-300', 'indigo-400', 'indigo-500', 'indigo-600', 'indigo-700', 'indigo-800', 'indigo-900', 'purple-100', 'purple-200', 'purple-300', 'purple-400', 'purple-500', 'purple-600', 'purple-700', 'purple-800', 'purple-900', 'pink-100', 'pink-200', 'pink-300', 'pink-400', 'pink-500', 'pink-600', 'pink-700', 'pink-800', 'pink-900');
$color-blue-very-light: #e8efff;
$color-var: (
    #000000, // black
    #ffffff, // white
    #f7fafc, // gray-100
    #edf2f7, // gray-200
    #e2e8f0, // gray-300
    #cbd5e0, // gray-400
    #a0aec0, // gray-500
    #718096, // gray-600
    #4a5568, // gray-700
    #2d3748, // gray-800
    #1a202c, // gray-900
    #fff5f5, // red-100
    #fed7d7, // red-200
    #feb2b2, // red-300
    #fc8181, // red-400
    #f56565, // red-500
    #e53e3e, // red-600
    #c53030, // red-700
    #9b2c2c, // red-800
    #742a2a, // red-900
    #fffaf0, // orange-100
    #feebc8, // orange-200
    #fbd38d, // orange-300
    #f6ad55, // orange-400
    #ed8936, // orange-500
    #dd6b20, // orange-600
    #c05621, // orange-700
    #9c4221, // orange-800
    #7b341e, // orange-900
    #fffff0, // yellow-100
    #fefcbf, // yellow-200
    #faf089, // yellow-300
    #f6e05e, // yellow-400
    #ecc94b, // yellow-500
    #d69e2e, // yellow-600
    #b7791f, // yellow-700
    #975a16, // yellow-800
    #744210, // yellow-900
    #f0fff4, // green-100
    #c6f6d5, // green-200
    #9ae6b4, // green-300
    #68d391, // green-400
    #48bb78, // green-500
    #38a169, // green-600
    #2f855a, // green-700
    #276749, // green-800
    #22543d, // green-900
    #e6fffa, // teal-100
    #b2f5ea, // teal-200
    #81e6d9, // teal-300
    #4fd1c5, // teal-400
    #38b2ac, // teal-500
    #319795, // teal-600
    #2c7a7b, // teal-700
    #285e61, // teal-800
    #234e52, // teal-900
    #ebf8ff, // blue-100
    #bee3f8, // blue-200
    #90cdf4, // blue-300
    #63b3ed, // blue-400
    #4299e1, // blue-500
    #3182ce, // blue-600
    #2b6cb0, // blue-700
    #2c5282, // blue-800
    #2a4365, // blue-900
    #ebf4ff, // indigo-100
    #c3dafe, // indigo-200
    #a3bffa, // indigo-300
    #7f9cf5, // indigo-400
    #667eea, // indigo-500
    #5a67d8, // indigo-600
    #4c51bf, // indigo-700
    #434190, // indigo-800
    #3c366b, // indigo-900
    #faf5ff, // purple-100
    #e9d8fd, // purple-200
    #d6bcfa, // purple-300
    #b794f4, // purple-400
    #9f7aea, // purple-500
    #805ad5, // purple-600
    #6b46c1, // purple-700
    #553c9a, // purple-800
    #44337a, // purple-900
    #fff5f7, // pink-100
    #fed7e2, // pink-200
    #fbb6ce, // pink-300
    #f687b3, // pink-400
    #ed64a6, // pink-500
    #d53f8c, // pink-600
    #b83280, // pink-700
    #97266d, // pink-800
    #702459, // pink-900
);

/* default values */
$border-radius: 12px;


/*********** Fonts ***********/
.font-jp {
    font-family: noto-sans-cjk-jp,
        "游ゴシック Medium",
        "Yu Gothic Medium",
        游ゴシック,
        "Yu Gothic",
        游ゴシック体,
        YuGothic,
        "ヒラギノ角ゴ Pro W3",
        "Hiragino Kaku Gothic Pro",
        メイリオ,
        Meiryo,
        sans-serif;
}
.font-en {
    font-family: Georgia, serif;
}


/*********** Common ***********/
.container {
    width: 100%;
    max-width: none;
    padding: 2% 5%;
}

.card {
    border-radius: $border-radius;
}

/*********** Text color ***********/
.text-primary {
    color: $color-blue-very-light!important;
}
@for $i from 1 through length($color-list){
    .text-#{nth($color-list, $i)} {
        color: nth($color-var, $i)!important;
    }
}

/*********** Background color ***********/
.bg-primary {
    background-color: $color-blue-very-light!important;
}
@for $i from 1 through length($color-list){
    .bg-#{nth($color-list, $i)} {
        background-color: nth($color-var, $i)!important;
    }
}

/*********** Button ***********/
.btn {
    border-radius: $border-radius!important;
}
.btn.btn-primary {
    background-color: $color-blue-very-light!important;
    border-color: $color-blue-very-light!important;
    color: black!important;

    &:hover {
        background-color: darken($color-blue-very-light, 10%)!important;
        border-color: darken($color-blue-very-light, 10%)!important;
    }
    &:active {
        background-color: darken($color-blue-very-light, 10%)!important;
        border-color: darken($color-blue-very-light, 10%)!important;
    }
}
@for $i from 1 through length($color-list){
    $color-name: nth($color-list, $i);
    $color-value: nth($color-var, $i);

    .btn.btn-#{$color-name} {
        background-color: $color-value!important;
        border-color: $color-value!important;

        @if index(('black', 'blue', 'red', 'purple'), $color-name){
            color: white!important;
        }
        @else {
            color: black!important;
        }

        &:hover {
            background-color: darken($color-value, 10%)!important;
            border-color: darken($color-value, 10%)!important;
        }
        &:active {
            background-color: darken($color-value, 10%)!important;
            border-color: darken($color-value, 10%)!important;
        }
    }
}
.btn.btn-outline-primary {
    background-color: transparent!important;
    border-color: $color-blue-very-light!important;
    color: $color-blue-very-light!important;

    &:hover {
        background-color: $color-blue-very-light!important;
        border-color: $color-blue-very-light!important;
        color: black!important;
    }
    &:active {
        background-color: $color-blue-very-light!important;
        border-color: $color-blue-very-light!important;
        color: black!important;
    }
}
@for $i from 1 through length($color-list){
    $color-name: nth($color-list, $i);
    $color-value: nth($color-var, $i);

    .btn.btn-outline-#{$color-name} {
        background-color: transparent!important;
        // background-color: $color-value!important;
        border-color: $color-value!important;
        color: $color-value!important;

        &:hover {
            background-color: $color-value!important;
            border-color: $color-value!important;
            @if index(('black', 'blue', 'red', 'purple'), $color-name){
                color: white!important;
            }
            @else {
                color: black!important;
            }
        }
        &:active {
            background-color: $color-value!important;
            border-color: $color-value!important;
            @if index(('black', 'blue', 'red', 'purple'), $color-name){
                color: white!important;
            }
            @else {
                color: black!important;
            }
        }
    }
}


/*********** Rounded ***********/
.rounded {
    border-radius: $border-radius!important;
}
.rounded-top {
    border-top-left-radius: $border-radius!important;
    border-top-right-radius: $border-radius!important;
}
.rounded-right {
    border-bottom-right-radius: $border-radius!important;
    border-top-right-radius: $border-radius!important;
}
.rounded-bottom {
    border-bottom-left-radius: $border-radius!important;
    border-bottom-right-radius: $border-radius!important;
}
.rounded-left {
    border-bottom-left-radius: $border-radius!important;
    border-top-left-radius: $border-radius!important;
}

