@charset "UTF-8";
/*********** Variables ***********/
/* Colors */
/* default values */
/*********** Fonts ***********/
.font-jp {
  font-family: noto-sans-cjk-jp, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", 游ゴシック体, YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", メイリオ, Meiryo, sans-serif; }

.font-en {
  font-family: Georgia, serif; }

/*********** Common ***********/
.container {
  width: 100%;
  max-width: none;
  padding: 2% 5%; }

.card {
  border-radius: 12px; }

/*********** Text color ***********/
.text-primary {
  color: #e8efff !important; }

.text-black {
  color: #000000 !important; }

.text-white {
  color: #ffffff !important; }

.text-blue {
  color: #0026ff !important; }

.text-red {
  color: #ff0000 !important; }

.text-green {
  color: #008000 !important; }

.text-purple {
  color: #bf40bf !important; }

.text-yellow {
  color: #ffff00 !important; }

.text-skyblue {
  color: #87ceeb !important; }

.text-orange {
  color: #ffa500 !important; }

/*********** Background color ***********/
.bg-primary {
  background-color: #e8efff !important; }

.bg-black {
  background-color: #000000 !important; }

.bg-white {
  background-color: #ffffff !important; }

.bg-blue {
  background-color: #0026ff !important; }

.bg-red {
  background-color: #ff0000 !important; }

.bg-green {
  background-color: #008000 !important; }

.bg-purple {
  background-color: #bf40bf !important; }

.bg-yellow {
  background-color: #ffff00 !important; }

.bg-skyblue {
  background-color: #87ceeb !important; }

.bg-orange {
  background-color: #ffa500 !important; }

/*********** Button ***********/
.btn {
  border-radius: 12px !important; }

.btn.btn-primary {
  background-color: #e8efff !important;
  border-color: #e8efff !important;
  color: black !important; }
  .btn.btn-primary:hover {
    background-color: #b5ccff !important;
    border-color: #b5ccff !important; }
  .btn.btn-primary:active {
    background-color: #b5ccff !important;
    border-color: #b5ccff !important; }

.btn.btn-black {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: white !important; }
  .btn.btn-black:hover {
    background-color: black !important;
    border-color: black !important; }
  .btn.btn-black:active {
    background-color: black !important;
    border-color: black !important; }

.btn.btn-white {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: black !important; }
  .btn.btn-white:hover {
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important; }
  .btn.btn-white:active {
    background-color: #e6e6e6 !important;
    border-color: #e6e6e6 !important; }

.btn.btn-blue {
  background-color: #0026ff !important;
  border-color: #0026ff !important;
  color: white !important; }
  .btn.btn-blue:hover {
    background-color: #001ecc !important;
    border-color: #001ecc !important; }
  .btn.btn-blue:active {
    background-color: #001ecc !important;
    border-color: #001ecc !important; }

.btn.btn-red {
  background-color: #ff0000 !important;
  border-color: #ff0000 !important;
  color: white !important; }
  .btn.btn-red:hover {
    background-color: #cc0000 !important;
    border-color: #cc0000 !important; }
  .btn.btn-red:active {
    background-color: #cc0000 !important;
    border-color: #cc0000 !important; }

.btn.btn-green {
  background-color: #008000 !important;
  border-color: #008000 !important;
  color: black !important; }
  .btn.btn-green:hover {
    background-color: #004d00 !important;
    border-color: #004d00 !important; }
  .btn.btn-green:active {
    background-color: #004d00 !important;
    border-color: #004d00 !important; }

.btn.btn-purple {
  background-color: #bf40bf !important;
  border-color: #bf40bf !important;
  color: white !important; }
  .btn.btn-purple:hover {
    background-color: #993399 !important;
    border-color: #993399 !important; }
  .btn.btn-purple:active {
    background-color: #993399 !important;
    border-color: #993399 !important; }

.btn.btn-yellow {
  background-color: #ffff00 !important;
  border-color: #ffff00 !important;
  color: black !important; }
  .btn.btn-yellow:hover {
    background-color: #cccc00 !important;
    border-color: #cccc00 !important; }
  .btn.btn-yellow:active {
    background-color: #cccc00 !important;
    border-color: #cccc00 !important; }

.btn.btn-skyblue {
  background-color: #87ceeb !important;
  border-color: #87ceeb !important;
  color: black !important; }
  .btn.btn-skyblue:hover {
    background-color: #5bbce4 !important;
    border-color: #5bbce4 !important; }
  .btn.btn-skyblue:active {
    background-color: #5bbce4 !important;
    border-color: #5bbce4 !important; }

.btn.btn-orange {
  background-color: #ffa500 !important;
  border-color: #ffa500 !important;
  color: black !important; }
  .btn.btn-orange:hover {
    background-color: #cc8400 !important;
    border-color: #cc8400 !important; }
  .btn.btn-orange:active {
    background-color: #cc8400 !important;
    border-color: #cc8400 !important; }

.btn.btn-outline-primary {
  background-color: transparent !important;
  border-color: #e8efff !important;
  color: #e8efff !important; }
  .btn.btn-outline-primary:hover {
    background-color: #e8efff !important;
    border-color: #e8efff !important;
    color: black !important; }
  .btn.btn-outline-primary:active {
    background-color: #e8efff !important;
    border-color: #e8efff !important;
    color: black !important; }

.btn.btn-outline-black {
  background-color: transparent !important;
  border-color: #000000 !important;
  color: #000000 !important; }
  .btn.btn-outline-black:hover {
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: white !important; }
  .btn.btn-outline-black:active {
    background-color: #000000 !important;
    border-color: #000000 !important;
    color: white !important; }

.btn.btn-outline-white {
  background-color: transparent !important;
  border-color: #ffffff !important;
  color: #ffffff !important; }
  .btn.btn-outline-white:hover {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: black !important; }
  .btn.btn-outline-white:active {
    background-color: #ffffff !important;
    border-color: #ffffff !important;
    color: black !important; }

.btn.btn-outline-blue {
  background-color: transparent !important;
  border-color: #0026ff !important;
  color: #0026ff !important; }
  .btn.btn-outline-blue:hover {
    background-color: #0026ff !important;
    border-color: #0026ff !important;
    color: white !important; }
  .btn.btn-outline-blue:active {
    background-color: #0026ff !important;
    border-color: #0026ff !important;
    color: white !important; }

.btn.btn-outline-red {
  background-color: transparent !important;
  border-color: #ff0000 !important;
  color: #ff0000 !important; }
  .btn.btn-outline-red:hover {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white !important; }
  .btn.btn-outline-red:active {
    background-color: #ff0000 !important;
    border-color: #ff0000 !important;
    color: white !important; }

.btn.btn-outline-green {
  background-color: transparent !important;
  border-color: #008000 !important;
  color: #008000 !important; }
  .btn.btn-outline-green:hover {
    background-color: #008000 !important;
    border-color: #008000 !important;
    color: black !important; }
  .btn.btn-outline-green:active {
    background-color: #008000 !important;
    border-color: #008000 !important;
    color: black !important; }

.btn.btn-outline-purple {
  background-color: transparent !important;
  border-color: #bf40bf !important;
  color: #bf40bf !important; }
  .btn.btn-outline-purple:hover {
    background-color: #bf40bf !important;
    border-color: #bf40bf !important;
    color: white !important; }
  .btn.btn-outline-purple:active {
    background-color: #bf40bf !important;
    border-color: #bf40bf !important;
    color: white !important; }

.btn.btn-outline-yellow {
  background-color: transparent !important;
  border-color: #ffff00 !important;
  color: #ffff00 !important; }
  .btn.btn-outline-yellow:hover {
    background-color: #ffff00 !important;
    border-color: #ffff00 !important;
    color: black !important; }
  .btn.btn-outline-yellow:active {
    background-color: #ffff00 !important;
    border-color: #ffff00 !important;
    color: black !important; }

.btn.btn-outline-skyblue {
  background-color: transparent !important;
  border-color: #87ceeb !important;
  color: #87ceeb !important; }
  .btn.btn-outline-skyblue:hover {
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
    color: black !important; }
  .btn.btn-outline-skyblue:active {
    background-color: #87ceeb !important;
    border-color: #87ceeb !important;
    color: black !important; }

.btn.btn-outline-orange {
  background-color: transparent !important;
  border-color: #ffa500 !important;
  color: #ffa500 !important; }
  .btn.btn-outline-orange:hover {
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
    color: black !important; }
  .btn.btn-outline-orange:active {
    background-color: #ffa500 !important;
    border-color: #ffa500 !important;
    color: black !important; }

/*********** Rounded ***********/
.rounded {
  border-radius: 12px !important; }

.rounded-top {
  border-top-left-radius: 12px !important;
  border-top-right-radius: 12px !important; }

.rounded-right {
  border-bottom-right-radius: 12px !important;
  border-top-right-radius: 12px !important; }

.rounded-bottom {
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important; }

.rounded-left {
  border-bottom-left-radius: 12px !important;
  border-top-left-radius: 12px !important; }
